html,
body {
  height: 100%;
}

body {
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
}

form {
  max-width: 330px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
}

ul {
  min-width: 20rem;
  max-height: 14rem;
}

.custom-file-label {
  text-align: left;
}
